/* CSS declarations go here */
body{
	height: 100%;
	padding: 0;
}
.container-fluid,
.container {
	padding:0;
	margin:0;
}
#header{
	height: 90px;
  	#title{
	  margin-top: 35px;
	  text-align: center;
	}
}
.side-bar{
	margin-left: 0px !important;
}
.map-container {
    height: 390px;
    width: 652px;
}

.map-container-ios {
  height: 100%;
  width: 100%;
}


.map-container img{
	max-width: inherit;
}

.map-container-ios img{
  max-width: inherit;
}

#car-map-canvas {
	/*margin-top:100px;*/
	height: 100%;
}

html {
	height: 100%
}

.modal.fade.in{
  top: 30%;
}

.modal-footer,
.bootbox{
  text-align: center;
}
#logout{
  margin-top: 170px;
}
