/* CSS declarations go here */
body{
	margin-top: 100px;
	height: 100%;
	padding: 0
}
#map-container {
	 /*margin-top:100px;*/
	 height: 400px;
	 width: 800px;
}
#map-container img{
	max-width: inherit;
}

#car-map-canvas {
	/*margin-top:100px;*/
	height: 100%;
}

html {
	height: 100%
}
